html {
	height: 100%;
	width: 100%;
}

.a1 {
	padding: 10px 20px;
	background-color: #2079b0;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;

}

button {
	padding: 10px 20px;
	background-color: #2079b0;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


#subTela {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 30px;
	width: 600px;
	max-width: 90%;
	border-radius: 8px;
	box-shadow: 0 2px 6px #2079b0(0, 0, 0, 0.3);
	text-align: center;
	background-color: #7BC8FF;
	border: 4px solid #2079b0;
}


.e515_53 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.7200000286102295);
	width: 1920px;
	height: 1080px;

	position: absolute
}

.e515_126 {
	color: rgba(255, 255, 255, 1);
	width: 398px;
	height: 41px;
	position: absolute;
	left: 24px;
	top: 489px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_55 {
	color: rgba(0, 0, 0, 1);
	width: 316px;
	height: 24px;
	position: absolute;
	left: -1377px;
	top: 263px;
	font-family: Mate SC;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e532_395 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 268px;
}

.e532_403 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 161px;
}

.e532_396 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 382px;
}

.e532_397 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 484px;
}

.e532_398 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 607px
}

.e532_399 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 730px;
}

.e532_400 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 840px
}

.e532_401 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 959px;
}

.e515_217 {
	color: rgba(0, 0, 0, 1);
	width: 376px;
	height: 41px;
	position: absolute;
	left: 0px;
	top: 800px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_218 {
	color: rgba(0, 0, 0, 1);
	width: 308px;
	height: 41px;
	position: absolute;
	top: 681px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_221 {
	color: rgba(0, 0, 0, 1);
	width: 308px;
	height: 41px;
	position: absolute;
	left: 0px;
	top: 910px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_222 {
	color: rgba(0, 0, 0, 1);
	width: 376px;
	height: 41px;
	position: absolute;
	left: 0px;
	top: 1033px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_129 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 174px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_206 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 280px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_207 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 391px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_208 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 495px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_209 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 617px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_210 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 738px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_211 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 847px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_212 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 387px;
	height: 41px;
	position: absolute;
	left: 632px;
	top: 966px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 6;
}

.e515_60 {
	background-color: rgba(255, 255, 255, 0);
	width: 137px;
	height: 55px;
	position: absolute;
	left: 1176px;
	top: 966px;
}

.e515_62 {
	background-color: rgba(255, 255, 255, 0);
	width: 61px;
	height: 47px;
	position: absolute;
	left: 1173px;
	top: 67px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e515_70 {
	background-color: rgba(255, 255, 255, 0);
	width: 62px;
	height: 56px;
	position: absolute;
	left: 1172px;
	top: 64px;
}

.e515_77 {
	background-color: rgba(255, 255, 255, 0);
	width: 137px;
	height: 55px;
	position: absolute;
	left: 1176px;
	top: 966px;
}

.e515_79 {
	background-color: rgba(255, 255, 255, 0);
	width: 61px;
	height: 47px;
	position: absolute;
	left: 1173px;
	top: 67px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e515_87 {
	background-color: rgba(255, 255, 255, 0);
	width: 62px;
	height: 56px;
	position: absolute;
	left: 1172px;
	top: 64px;
}

.e515_122 {
	color: rgba(2.000000118277967, 86.00000247359276, 138.00000697374344, 1);
	width: 499px;
	height: 61px;
	position: absolute;
	left: 710px;
	top: 0px;
	font-family: Mate SC;
	text-align: left;
	font-size: 50px;
	letter-spacing: 0;
}

.e515_123 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 170px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_124 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 280px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_125 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 391px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_213 {
	color: rgba(0, 0, 0, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 236px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_214 {
	color: rgba(0, 0, 0, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 339px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_215 {
	color: rgba(0, 0, 0, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 450px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_216 {
	color: rgba(0, 0, 0, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 557px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_197 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 498px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_127 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 621px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_128 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 741px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_219 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 973px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e515_220 {
	color: rgba(255, 255, 255, 1);
	width: 1920px;
	height: 41px;
	position: absolute;
	top: 854px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}






#foto2 {
	margin-left: 28%;
}

#foto2:hover {
	transform: scale(1.1);
	transition: all 0.5s;
}

#botlogo {
	height: 80px;
}

.topico {
	padding: 0%;
	margin-bottom: 0px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logincerto {
	align-content: center;
}


.botoes {
	background-color: #93D1FF;
	border-radius: 40px;
	border-color: #ffffff ;
	height: 50px;
	width: 120px;
	font-family: Mate SC;
	font-size: large;
	margin-bottom: 10%;
}

.botoes:hover {
	background-color: #93D1FF;
	box-shadow: 5px 2px #4b93ca;
	transform: scale(1.1);
	transition: all 0.5s;
}

.botao {
	width: 600px;
	justify-content: space-between;
	padding: 15px;
	padding-left: 10px;
	align-items: center;
}

.b1 {
	padding: 10px 20px;
	background-color: #2079b0;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;

}

button {
	padding: 10px 20px;
	background-color: #2079b0;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Estilos para a sub-tela */


#subTela {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 30px;
	width: 600px;
	max-width: 90%;
	border-radius: 8px;
	box-shadow: 0 2px 6px #2079b0(0, 0, 0, 0.3);
	text-align: center;
	background-color: #7BC8FF;
	border: 4px solid #2079b0;
}


.e975_214 {
	color: rgba(255, 255, 255, 1);
	width: 398px;
	height: 41px;
	position: absolute;
	left: 26px;
	top: 550px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_215 {
	color: rgba(0, 0, 0, 1);
	width: 316px;
	height: 24px;
	position: absolute;
	left: -1377px;
	top: 263px;
	font-family: Mate SC;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e975_216 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 330px;
}

.e975_217 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 2px;
	top: 342px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_218 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 216px;
}

.e975_219 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 443px;
}

.e975_220 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 544px;
}

.e975_221 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 669px;
}

.e975_222 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 791px;
}

.e975_223 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 903px;
}

.e975_224 {
	background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
	width: 1920px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 1014px;
}

.e975_225 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 0px;
	top: 458px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_226 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 0px;
	top: 561px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_227 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 2px;
	top: 682px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_228 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 0px;
	top: 801px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_229 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 2px;
	top: 914px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_230 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: -3px;
	top: 1023px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_231 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 342px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_232 {
	color: rgba(255, 255, 255, 1);
	height: 51px;
	position: absolute;
	left: 2px;
	top: 224px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_233 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 224px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_234 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 458px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_235 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 556px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_236 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 681px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_237 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 802px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_238 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 913px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_239 {
	color: rgba(2.302083671092987, 86.24816715717316, 138.1250050663948, 1);
	height: 51px;
	position: absolute;
	left: 874px;
	top: 1023px;
	font-family: Open Sans Hebrew;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_240 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 861px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_241 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: -3px;
	top: 742px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_242 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 971px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_243 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 1094px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_244 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 287px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_245 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 400px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_246 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 509px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}

.e975_247 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 44px;
	position: absolute;
	left: 2px;
	top: 618px;
	font-family: Mate SC;
	text-align: left;
	font-size: 34px;
	letter-spacing: 0;
}
