<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médico - Med+</title>
    <link rel="stylesheet" href="forms.css">
</head>
<style>
    body{
        font-family: Arial, Helvetica, sans-serif;
    }

    .box {
        background-color: rgb(255, 255, 255);
        width: 330px;
    }
    fieldset {
        border: 3px solid #ffffff;
        height: 649px;
    }

    #logo {
        width: 380px;
        height: 130px;
        margin-left: 10px;
    }

   
    #submit {
        background-color: #93D1FF;
        border-radius: 40px;
        border-color: #ffffff;
        height: 50px;
        width: 160px;
        font-family: Mate SC;
        font-size: larger;
        margin-left: 100px;
        
        
    }
       

    #submit:hover{
      background-color: #93D1FF;
      box-shadow: 5px 2px #4b93ca;
      transform: scale(1.1);
      transition: all 0.5s;
      
    }

    .crie {
        text-align: center;
        color: #93D1FF;
        margin-top: 139px;
    }
    #email{
        background-color: #eceeef;
        width: 390px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid #a8a8a9;
    }

    #senha{
        background-color: #eceeef;
        width: 390px;
        height: 30px;
        border-radius: 10px;
        border:1px solid #a8a8a9 ;

    }

    #voltar{
        margin-left: -50px;
        
    }
</style>
<script>
    import { fazerlog } from './fazerlog.js'; 
  </script>
  
  <body>
    <div class="box">
      <form action="">
        <fieldset class="barraemvolta">
          <img src="images/logo_removebg_preview_1.png" alt="" id="logo">
          <br>
          <br>
  
          <div class="inputbox">
            <input type="email" name="email" id="email" placeholder="Email" class="inputUser" required>
            <label for="email"></label>
          </div>
          <br>
          <br>
          <div class="inputbox">
            <input type="password" name="senha" id="senha" placeholder="Senha" class="inputUser" required>
            <label for="senha"></label>
          </div>
          <br>
          <br>
         
  
          <div class="inputbox">
            <input type="checkbox" name="manter" id="manter" class="manter">
            <label for="manter"><b>Manter-se conectado</b></label>
          </div>
          <br>
          <br>
  
          <input type="button" name="submit" id="submit" onclick="fazerlog" value="Entrar">
          <br>
          <br>
          <div class="crie">
            <a href="/opcoeslog.html" id="voltar">Voltar</a>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
  
</html>
